[Unit]
Description=Loki Service
Wants=network-online.target
After=network-online.target

[Service]
User=loki
Group=loki
Type=simple
ExecStart=/usr/bin/loki-linux-amd64 \
        --config.file /etc/loki/loki-config.yml

[Install]
WantedBy=multi-user.target

